services:
  # Note: PostgreSQL is an external service. You can find more information about the configuration here:
  # https://hub.docker.com/_/postgres
  postgres:
    # Note: Check the recommend version here: https://docs.nextcloud.com/server/latest/admin_manual/installation/system_requirements.html#server
    image: postgres:17.7-alpine
    restart: always
    volumes:
      - db-postgres:/var/lib/postgresql/data:Z
    env_file:
      - db.env

  # Note: Redis is an external service. You can find more information about the configuration here:
  # https://hub.docker.com/_/redis
  redis:
    image: redis:8.2.3-alpine
    restart: always

  app:
    image: nextcloud:32.0.5-fpm
    restart: always
    volumes:
      - app-persistent-storage:/var/www/html:z
      # NOTE: The `volumes` config of the `cron` and `app` containers must match
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_HOST=redis
      - NEXTCLOUD_UPDATE=1
    env_file:
      - db.env
    depends_on:
      - postgres
      - redis

  # Note: Nginx is an external service. You can find more information about the configuration here:
  # https://hub.docker.com/_/nginx/
  web:
    image: nginx:1.29.4-alpine
    restart: always
    volumes:
      # https://docs.nextcloud.com/server/latest/admin_manual/installation/nginx.html
      - nginx-conf:/etc/nginx/:ro # nginx.conf
      # NOTE: The `volumes` included below should match those of the `app` container (unless you know what you're doing)
      - app-persistent-storage:/var/www/html:z,ro
    depends_on:
      - app
    networks:
      - default
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=reverse-proxy_traefik"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.localhost`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=myresolver"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.middlewares.nextcloud.redirectscheme.scheme=https"
      - "traefik.http.middlewares.nextcloud.redirectscheme.permanent=true"
    expose:
      - 80

  nextcloud_cron:
    image: nextcloud:32.0.5-fpm
    restart: always
    volumes:
      - app-persistent-storage:/var/www/html:z
      # NOTE: The `volumes` config of the `cron` and `app` containers must match
    entrypoint: /cron.sh
    depends_on:
      - postgres
      - redis

  # restore:
  #   image: enderevents/self-host-restore:3.22.1-2
  #   volumes:
  #     - app-persistent-storage:/mnt/nextcloud
  #   depends_on:
  #     - postgres
  #   environment:
  #     - PGHOST=postgres
  #     - PGPORT=5432
  #     env_file:
  #       - backup.env


  backup:
    image: ghcr.io/ender-events/self-host-backup:main
    volumes:
      - app-persistent-storage:/mnt/nextcloud
    depends_on:
      - app
      - postgres
    environment:
      - PGHOST=postgres
      - PGPORT=5432
      # env_file:
      #   - backup.env
      - AWS_ACCESS_KEY_ID=MP7VPE716ILKDBU2BR55
      - "AWS_SECRET_ACCESS_KEY=18sBjuZvedQtFYybH1wFF7yxN08fSIRmp7TIyfrM"
      - PGDATABASE=nextcloud
      - PGUSER=oc_grand_manitou
      - PGPASSWORD=1a3rxrywnma7tznhtjtbhl16xc2a4w
      - RESTIC_PASSWORD=aNeZ5&CZa3LTphZkA$^%24TEkNTKpXi6
      - RESTIC_REPOSITORY=s3:https://s3.fr1.next.ink/lisez-next
      - "POST_HOOK_URL=https://kuma.spreadnet.fr/api/push/pqtJh854yH?msg=OK&ping=$${elapsed}"

  cron:
    image: mcuadros/ofelia:latest
    depends_on:
      - backup
    command: daemon --docker
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    labels:
      ofelia.enabled: "true"
      ofelia.job-run.backup.schedule: "4 5 * * *"
      ofelia.job-run.backup.container: backup

  collabora:
    image: collabora/code:25.04.8.1.1
    restart: always
    networks:
      - traefik
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=reverse-proxy_traefik"
      - "traefik.http.routers.collabora.rule=Host(`collabora.localhost`)"
      - "traefik.http.routers.collabora.entrypoints=websecure"
      - "traefik.http.routers.collabora.tls.certresolver=myresolver"
      - "traefik.http.services.collabora.loadbalancer.server.port=9980"
      - "traefik.http.middlewares.collabora.redirectscheme.scheme=https"
      - "traefik.http.middlewares.collabora.redirectscheme.permanent=true"
    environment:
      - "extra_params=--o:ssl.enable=false --o:ssl.termination=true"
    env_file:
      - collabora.env
    expose:
      - 9980

volumes:
  nginx-conf:
  db-postgres:
  app-persistent-storage:

networks:
  traefik:
    name: reverse-proxy_traefik
    external: true
